<div class="wrapper">
  <div class="slightly-padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
          <h2 class="text-center"><%= t(".sign_up") %></h2>
          <%= render "devise/shared/facebook_login" %>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name, required: true, autofocus: true, label: t(".first_name") %>
            <%= f.input :last_name, required: true, label: t(".last_name") %>
            <%= f.input :email, required: true %>
            <%= f.input :password, required: true, label: t(".password") + (" (#{@minimum_password_length} #{t(".characters_minimum")})" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true, label: t(".password_confirmation") %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, t(".sign_up"), class: "btn-brand-with-bg pull-left" %>
            <div class="pull-right">
              <%= render "devise/shared/links" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
