<!-- Logo -->
<%= link_to root_path, class: "navbar-tlvr-brand" do %>
  <% if !current_page?(root_path) %>
    <%= image_tag "thelisbonvr-logo-white-transparent.png", class: "hidden-xs hidden-sm" %>
    <%= image_tag "thelisbonvr-logo-no-website-white.png", class: "hidden-md hidden-lg" %>
  <% end %>
<% end %>

<!-- Right Navigation -->
<div class="navbar-tlvr-right hidden-xs hidden-sm">
  <%= link_to t(".what_is_vr"), about_path, class: "navbar-tlvr-item navbar-tlvr-link" %>
  <%= link_to t(".contact"), contact_path, class: "navbar-tlvr-item navbar-tlvr-link" %>

  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>
    <%= link_to t(".my_account"), account_path, class: "navbar-tlvr-item navbar-tlvr-link" %>
    <%= link_to t(".sign_out"), destroy_user_session_path, method: :delete, class: "navbar-tlvr-item navbar-tlvr-link" %>
  <% else %>
    <!-- Login text link -->
    <%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "navbar-tlvr-item navbar-tlvr-link" %>
  <% end %>

  <%= link_to t(".see_events"), events_path, class: "navbar-tlvr-item navbar-tlvr-link action" %>

  <!-- Language selector -->
  <div class="navbar-tlvr-lang-border">
    <% if I18n.locale == :pt %>
    <%= link_to 'EN', url_for(locale: :en), class: "navbar-tlvr-lang-change" %>
    <% else %>
    <%= link_to 'PT', url_for(locale: :pt), class: "navbar-tlvr-lang-change" %>
    <% end %>
  </div>
</div>

<!-- Dropdown list appearing on mobile only -->
<div class="navbar-tlvr-item flex hidden-md hidden-lg">
  <div class="navbar-tlvr-lang-border-mobile">
    <% if I18n.locale == :pt %>
      <%= link_to 'EN', root_path(locale: :en), class: "navbar-tlvr-lang-change" %>
    <% else %>
      <%= link_to 'PT', root_path(locale: :pt), class: "navbar-tlvr-lang-change" %>
    <% end %>
  </div>
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-tlvr-dropdown-menu">
      <%= link_to root_path, class: "navbar-tlvr-brand" do %>
        <%= image_tag "thelisbonvr-logo-no-website-white.png" %>
      <% end %>
      <i class="fa fa-times close-x"></i>
      <div class="col-xs-8 col-xs-offset-2">
        <hr class="page-divider-white no-margin">
      </div>
      <li><%= link_to t(".what_is_vr"), about_path, class: "navbar-tlvr-item navbar-tlvr-link" %></li>
      <div class="col-xs-8 col-xs-offset-2">
        <hr class="page-divider-white no-margin">
      </div>
      <li><%= link_to t(".see_events"), events_path, class: "navbar-tlvr-item navbar-tlvr-link" %></li>
      <div class="col-xs-8 col-xs-offset-2">
        <hr class="page-divider-white no-margin">
      </div>
      <li><%= link_to t(".contact"), contact_path, class: "navbar-tlvr-item navbar-tlvr-link" %></li>
      <div class="col-xs-8 col-xs-offset-2">
        <hr class="page-divider-white no-margin">
      </div>
      <% if user_signed_in? %>
        <li><%= link_to t(".my_account"), account_path, class: "navbar-tlvr-item navbar-tlvr-link" %></li>
        <div class="col-xs-8 col-xs-offset-2">
          <hr class="page-divider-white no-margin">
        </div>
        <li><%= link_to t(".sign_out"), destroy_user_session_path, method: :delete, class: "navbar-tlvr-item navbar-tlvr-link" %></li>
      <% else %>
        <li><%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "navbar-tlvr-item navbar-tlvr-link" %></li>
      <% end %>
      <div class="col-xs-8 col-xs-offset-2">
        <hr class="page-divider-white no-margin">
      </div>
    </ul>
  </div>
</div>
