<div class="container">
  <div class="padded">
    <h2 class="text-center"><%= t('.main_title') %></h2>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-xs-12 col-sm-6">
          <div class="event-card">
            <h4><%= event.name %></h4>
            <%= link_to t(".show_button"), event_path(event), class: "btn btn-brand-with-bg btn-event" %>
            <p class="smaller-text">
              <%= event.location %><br />
              <%= event.date.strftime("%-d/%-m/%Y") %>&nbsp; //
              &nbsp; <%= event.start_time.to_s(:time) %>&ndash;<%= event.end_time.to_s(:time) %>&nbsp; //
              &nbsp; €<%= '%.2f' % event.price_per_slot %> (<%= event.slot_duration_minutes %> mins)<br />
              <%= t('.slots_remaining') %>: <%= Slot.where(event_id: event.id).where(user_id: nil).count %>
            </p>
            <p><%= event.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
