<div class="container">
  <div class="padded">

    <h2><%= @event.name %></h2>

    <h3>Descrição: <%= @event.description %></h3>
    <%= link_to t(".back_button"), events_path%>
    <h3>Local: <%= @event.location %></h3>

    <h3>Slots:</h3>
    <% @slots.each do |slot| %>
      <div class="slot">
        <div class="row">
          <div class="col-xs-6">
            <p>
              Starts at: <%= slot.start_time.to_s(:time) %> |
              Duration: <%= slot.event.slot_duration_minutes %>m
            </p>
          </div>
          <div class="col-xs-6">
            <% if slot.user == nil %>
            <%= link_to t(".book_this_session"), event_slot_path(id: slot.id, event_id: slot.event_id, user_id: current_user.id), method: :patch %>
            <% else %>
            <p>Booked</p>
            <% end %>
          </div>
        </div>
        <hr />
      </div>
    <% end %>

    <%= link_to t(".back_button"), events_path%>
  </div>
</div>
