<div class="container">
  <div class="padded">
    <div class="row">
      <h2><%= @event.name %></h2>
      <div class="col-xs-12 col-sm-4">
        <p><%= t(".description") %>: <%= @event.description %></p>
      </div>
      <div class="col-xs-12 col-sm-8">
        <p><%= t(".location") %>: <%= @event.location %></p>
        <p><%= t(".play_time_per_session") %>: <%= @event.slot_duration_minutes %> <%= t(".minutes") %></p>
      </div>
    </div>
    <div class="row">
      <h3>Sessions:</h3>
      <p><%= t(".click_to_book") %></p>
      <% @slots.each do |slot| %>
        <div class="col-xs-4 col-sm-2">
          <div class="btn-timeslot text-center">
            <% if slot.user == nil %>
              <%= link_to slot.start_time.to_s(:time), event_slot_path(id: slot.id, event_id: slot.event_id), method: :patch, class: "btn-book" %>
            <% else %>
              <span class="btn-booked"><%= t(".booked") %></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= link_to t(".back_button"), events_path, class: "btn-brand"%>
  </div>
</div>
