<% if !@event.photo.nil? %>
  <div class="container">
    <div class="padded" style=" padding-bottom: 0;">
      <div class="event-image" id="main-event-image" style="background-image: linear-gradient(rgba(0,0,0,0.2) 80%, rgba(0,0,0,0.5)), url('<%= cl_image_path(@event.photo.path) %>')">

      </div>
    </div>
  </div>
<% end %>

<div class="container">
<!-- remove top-padding from title it it is shown after the image -->
<% if !@event.photo.nil? %>
  <div class="padded" style="padding-top: 0;">
<% else %>
<!-- use top-padding if the title is the first thing to show on the page -->
  <div class="padded">
<% end %>
      <div class="row">
        <div class="col-xs-12">
          <h2><%= @event.name %></h2>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <table style="margin-bottom: 10px;">
            <tbody>
              <tr>
                <td><em><%= t(".date") %>:</em></td>
                <td class="slight-indent"><%= l(@event.date) %></td>
              </tr>
              <tr>
                <td><em><%= t(".location") %>:</em></td>
                <td class="slight-indent"><%= @event.location %></td>
              </tr>
              <tr>
                <td><em><%= t('.session_price') %>:</em></td>
                <td class="slight-indent"><%= t('.price', number: '%.2f' % @event.price_per_slot) %> / <%= @event.slot_duration_minutes %>&nbsp;<%= t(".minutes") %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <p><%= locale == :en ? @event.description_en : @event.description %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3><%= t(".sessions") %>:</h3>
          <p><%= t(".click_to_book") %></p>
        </div>
      </div>

    <div class="row">
      <%# This counter is for iterating through each of the slots %>
      <% i = 0 %>

      <%# This creates one card per timeslot %>
      <% (@event.slots.count / @event.number_of_players).times do %>
      <div class="col-xs-4 col-md-2 no-xs-side-padding">
        <div class="timeslot-card">
          <h5><%= @slots[i].start_time.to_s(:time) %></h5>

          <%# This creates one button per player %>
          <% player_number = 1 %>
          <% @event.number_of_players.times do %>
          <% if @slots[i].user == nil %>
          <%= link_to event_slot_path(id: @slots[i].id, event_id: @event.id), method: :patch, class: "no-text-dec" do %>
          <div class="btn-timeslot text-center">
            <span class="btn-book"><%= t(".player", number: player_number) %></span>
          </div>
          <% end %>
          <% elsif @slots[i].user == current_user %>
          <div class="btn-timeslot-booked text-center">
            <span class="btn-booked"><%= t(".my_slot") %></span>
          </div>
          <% else %>
          <div class="btn-timeslot-booked text-center">
            <span class="btn-booked"><%= t(".booked") %></span>
          </div>
          <% end %>
          <% i += 1 %>
          <% player_number += 1 %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>



<div class="container">
  <div class="very-slightly-padded">
        <%= link_to t(".back_button"), events_path, class: "btn-brand pull-left"%>
        <%= link_to t(".see_booked_sessions"), account_path, class: "btn-brand pull-right" %>
  </div>
</div>


<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $('#main-event-image').click(function(){
        $('#main-event-image').toggleClass("event-image-big");
      });
    });

  </script>
<% end %>
