<div class="container">
  <div class="padded">
    <div class="row">
      <div class="col-xs-12">
        <h2><%= @event.name %></h2>
      </div>
      <div class="col-xs-12 col-sm-4">
        <p><%= t(".date") %>: <%= l(@event.date) %><br />
        <%= t(".location") %>: <%= @event.location %><br />
        <%= t(".play_time_per_session") %>: <%= @event.slot_duration_minutes %> <%= t(".minutes") %></p>
      </div>
      <div class="col-xs-12 col-sm-8">
        <p><%= t(".description") %>: <%= @event.description %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3><%= t(".sessions") %>:</h3>
        <p><%= t(".click_to_book") %></p>
      </div>


      <%# This counter is for iterating through each of the slots %>
      <% i = 0 %>

      <%# This creates one card per timeslot %>
      <% @event.max_bookings.times do %>
        <div class="col-xs-4 col-md-2">
          <div class="timeslot-card">
            <h5><%= @slots[i].start_time.to_s(:time) %></h5>

            <%# This creates one button per player %>
            <% player_number = 1 %>
            <% @event.number_of_players.times do %>
              <% if @slots[i].user == nil %>
                <%= link_to event_slot_path(id: @slots[i].id, event_id: @event.id), method: :patch, class: "no-text-dec" do %>
                  <div class="btn-timeslot text-center">
                    <span class="btn-book"><%= t(".player", number: player_number) %></span>
                  </div>
                <% end %>
              <% elsif @slots[i].user == current_user %>
                <div class="btn-timeslot-booked text-center">
                  <span class="btn-booked"><%= t(".my_slot") %></span>
                </div>
              <% else %>
                <div class="btn-timeslot-booked text-center">
                  <span class="btn-booked"><%= t(".booked") %></span>
                </div>
              <% end %>
              <% i += 1 %>
              <% player_number += 1 %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= link_to t(".back_button"), events_path, class: "btn-brand pull-left"%>
    </div>
    <div class="col-xs-6">
      <%= link_to t(".see_booked_sessions"), account_path, class: "btn-brand pull-right" %>
    </div>
  </div>
</div>
