<div class="wrapper">
  <div class="padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="text-center">O Melhor de Outro Mundo</h2>
          <p><strong>Não sabe o que é realidade virtual (VR)?</strong> Veja aqui o video promocional do <strong>HTC vive</strong>, o melhor equipamento de VR da actualidade.</p>
        </div>
      </div>
    </div>
    <!-- show small video on MOBILE: -->
    <div class="video-container hidden-sm hidden-md hidden-lg text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qYfNzhLXYGc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen id="video-valve-demo"></iframe>
    </div>
    <!-- show regular sized video on tablet and DESKTOP: -->
    <div class="video-container hidden-xs text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qYfNzhLXYGc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<!-- Our services: -->
<div id="banner-services" class="wrapper padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h2 class="text-center">Aluguer de Experiências</h2>
        <p><strong>Podemos estar no seu próximo evento</strong>, seja ele um evento empresarial, um evento de promoção da sua marca ou uma festa de aniversário.</p>
      </div>
    </div>
    <div class="row">
      <div class="price-table text-center">
        <div class="col-xs-6 col-sm-3 col-sm-offset-3">
          <h4>3 horas</h4>
          <p>€ --</p>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h4>6 horas</h4>
          <p>€ --</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="price-include text-left">
          <h4>Os preços incluem:</h4>
          <ul>
            <li>1 PC Gaming</li>
            <li>1 HTC Vive (óculos de VR)</li>
            <li>1 sistema tracking room-scale HTC</li>
            <li>1 membro do staff The Lisbon VR</li>
            <li>Acesso à nossa biblioteca de jogos</li>
            <li>Montagem e desmontagem do sistema</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Games + Experiences -->
<div id="banner-games-experiences" class="wrapper padded">
  <div id="container-games">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h2 class="text-center">Os Jogos de Maior Sucesso!</h2>
          <p>Estes são alguns dos jogos mais populares a nível mundial para o HTC Vive. <strong>Poderá jogá-los com o The Lisbon VR!</strong></p>
          <div class="games-thumbnails">
            <!-- Thumbnails must be squares. Sized in css to 200x200: -->
            <div class="game-thumbnail">
              <a href="https://www.youtube.com/watch?v=sFaC-9Q-Fp8" target="_blank"><%= image_tag("thumb-accounting.png", alt: "accounting game cover") %></a>
            </div>
            <div class="game-thumbnail">
              <a href="https://www.youtube.com/watch?v=l_gWDl_f6V8" target="_blank"><%= image_tag("thumb-arizona-sunshine.png", alt:"arizona sunshine game cover") %></a>
            </div>
            <div class="game-thumbnail">
              <a href="https://www.youtube.com/watch?v=gbp7xX9QPOc&t=6s" target="_blank"><%= image_tag("thumb-budget-cuts.png", alt:"budget cuts game cover") %></a>
            </div>
            <div class="game-thumbnail">
              <a href="https://www.youtube.com/watch?v=c1J7GeqraRE&t=29s" target="_blank"><%= image_tag("thumb-recroom.png", alt:"rec room game cover") %></a>
            </div>
            <div class="game-thumbnail">
              <a href="https://www.youtube.com/watch?v=ASVku-48N8Q" target="_blank"><%= image_tag("thumb-thelab.png", alt:"the lab game cover") %></a>
            </div>
            <div class="game-thumbnail">
              <a href="https://www.youtube.com/watch?v=ZDDr6KjSpAY" target="_blank"><%= image_tag("thumb-trials-on-tatooine.png", alt:"trials on tatooine game cover") %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="banner-links" class="wrapper">
  <div class="padded text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3 col-md-offset-3">
          <h3><%= t(".questions") %></h3>
          <div class="slightly-padded">
            <%= link_to t(".get_in_touch"), contact_path, class: "btn-brand" %>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <h3><%= t(".want_to_play") %></h3>
          <div class="slightly-padded">
            <%= link_to t(".book_a_session"), events_path, class: "btn-brand" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
