<div class="wrapper">
  <div class="padded">
    <div class="container">
      <div class="row">
        <h2 class="text-center"><%= t('.main_title') %></h2>
      </div>
      <% if @slots_by_events.empty? %>
        <div class="slightly-padded">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <p class="text-center"><%= t('.no_sessions_booked_yet') %></p>
          </div>
        </div>

      <% else %>
        <div class="slightly-padded">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <p class="text-center"><%= t('.how_to_pay') %></p>
          </div>
        </div>
        <% @slots_by_events.each_pair do |event_id, array_of_slots| %>
          <% event = Event.find(event_id) %>
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              <div class="event-card">
                <div class="event-details">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="no-top-margin"><%= event.name %></h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <p>
                        <%= event.date.strftime("%d-%m-%Y") %>
                        <br /><%= t('.location') %>: <%= event.location %>
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <p>
                        <%= t('.price_per_slot') %>: <%= t('.price', number: '%.2f' % event.price_per_slot) %>
                        <br><%= t('.slots_booked') %>: <%= array_of_slots.count %>
                        <br><%= t('.total_price') %>: <%= t('.price', number: '%.2f' % (event.price_per_slot * array_of_slots.count)) %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="slot-details">
                  <% array_of_slots = array_of_slots.sort_by {|slot| slot.start_time} %>
                  <% array_of_slots.each do |slot| %>
                    <div class="row">
                      <hr class="no-margin">
                      <div class="slot-row">
                        <div class="col-xs-7">
                          <span class="pull-left">
                            <%= slot.start_time.strftime("%H:%M") %>&ensp;
                            (<%= slot.event.slot_duration_minutes %>&nbsp;<%= t('.minutes') %>)
                          </span>
                        </div>
                        <div class="col-xs-5">
                          <%= link_to t(".cancel_slot"), slot_cancel_session_path(slot_id: slot.id), method: :patch, class: "btn-dangerous pull-right" %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <div class="row">
                    <hr class="no-top-margin bottom-margin">
                  </div>
                </div>
                <%= link_to t(".book_more_sessions"), event_path(event_id), class: "btn-brand btn-event-card-bottom" %>
              </div>
            </div>
          </div>
        <% end %>


      <% end %>
      <div class="text-right">
        <%= link_to t(".confirm_slots"), "#", class: "btn-brand-with-bg btn-lg" %>
      </div>

      <div class="top-margin text-right">
        <%= link_to t(".go_to_events"), events_path, class: "btn-brand" %>
      </div>
    </div>
  </div>
</div>
