<div class="wrapper">
  <div class="padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="text-center"><%= t('.page_title')  %></h2>
          <h4 class="slightly-padded text-center"><%= t('.sub_title')  %></h4>
          <p class="text-left""><%= t('.we_develop')  %></p>
          <h4 class="slightly-padded text-center""><%= t('.we_offer')  %></h4>
        </div>
      </div>

      <div class="row">
          <!-- Vive, Cardboard a A-frame thumbnails -->
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="text-center">
            <a href="#" target="_blank"><%= image_tag("vive-front.png", alt: "htc vive headset", height: "120") %></a>
            <h5>HTC Vive</h5>
            <hr class="page-divider-white">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="text-center">
            <a href="#" target="_blank"><%= image_tag("cardboard-front.png", alt: "google cardboard", height: "120") %></a>
            <h5>Google Cardboard</h5>
            <hr class="page-divider-white">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="text-center">
            <a href="#" target="_blank"><%= image_tag("aframe-logo.png", alt: "A-frame logo", height: "120") %></a>
            <h5>A-frame</h5>
            <hr class="page-divider-white">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Our services: -->
<div class="banner-services wrapper padded">
  <div class="banner-services-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="text-center"><%= t('.vive_title') %></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6" style="border-style: dashed;">
          <div class="text-center">
            <%= image_tag("vive-front.png", alt: "htc vive headset", height: "200") %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="border-style: dashed;">
          <h4 class="text-center"><%= t('.vive_description_01') %></h4>
          <hr class="page-divider-white">
          <p><%= t('.vive_description_02') %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="banner-games-experiences" class="wrapper padded">
  <div id="container-games">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="text-center"><%= t('.cardboard_title') %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6" style="border-style: dashed;">
          <h4 class="text-center"><%= t('.cardboard_description_01') %></h4>
          <hr class="page-divider-white">
          <p><%= t('.cardboard_description_02') %></p>
        </div>
        <div class="col-xs-12 col-sm-6" style="border-style: dashed;">
          <div class="text-center">
            <%= image_tag("cardboard-front.png", alt: "google cardboard", height: "200") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="banner-links" class="wrapper">
  <div id="banner-links-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2 class="text-center"><%= t('.aframe_title') %></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6" style="border-style: dashed;">
        <div class="text-center">
          <%= image_tag("aframe-logo.png", alt: "A-frame logo", height: "200") %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6" style="border-style: dashed;">
          <h4 class="text-center"><%= t('.aframe_description_01') %></h4>
          <hr class="page-divider-white">
          <p><%= t('.aframe_description_02') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
