<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= casein_sort_link "User", :date %></th>
      <th><%= casein_sort_link "Event", :location %></th>
      <th><%= casein_sort_link "Starts at", :description %></th>
      <th><%= casein_sort_link "Duration minutes", :max_bookings %></th>
      <th><%= casein_sort_link "Payment received", :price_per_slot %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <% slots.each do |slot| %>
    <tr>
      <td><%= slot.user_id %></td>
      <td><%= slot.event.name %></td>
      <td><%= slot.start_time %></td>
      <td><%= slot.duration_minutes %></td>
      <td><%= slot.is_payed ? "PAYED" : "not payed" %></td>

      <td>
        <% if !slot.is_payed %>
          <%= link_to("mark as payed", casein_event_slot_path(id: slot.id)) %>
        <% else %>
          <%= link_to("cancel payment", casein_event_slot_path(id: slot.id)) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
